

.left {
  display: flex;
  margin: 50px;
  margin-bottom: 20px;
}
.right {
  margin: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.roll {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid yellow;
  background: turquoise;
  font-size: 1em;
}

.roll:hover {
  border: 1px solid teal;
}
.roll:active {
  background: palevioletred;
}

.reset {
  border-radius: 3%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logic {
  display: flex;
}

.topPins {
  align-items: center;
  position: absolute;
  left: 200px;

}
.middlePins {
  align-items: center;
  position: relative;
  left: 225px;
  top: 150px;

}
.lowerPins {
  border-width: 250px;
  align-items: center;
  position: relative;
  left: 250px;
  top: 150px;
}
.bottomPin {
  border-width: 150px;
  align-items: center;
  position: relative;
  left: 275px;
  top: 150px;
}